<!DOCTYPE html>
<html>
    <head>
        <title>layouting</title>
        <link rel="stylesheet" href="lay.css">

    </head>

    <body>


        <div class="one">
            

         <div class="two">
         </div>
         <div class="two">

         </div>
         <div class="two">
             
        </div>
        <div class="two">
             
        </div>
        <div class="two">
             
        </div>
        
        
        </div>
    

    </body>


</html>